@{
    ViewData["Title"] = "Best Sellers Page";
}

<h1>Best Sellers</h1>

<p>This is the best sellers page.</p>

<div class="navbar">
    <ul>
        <li><a href="https://localhost:5001/books">Books</a></li>
        <li><a href="https://localhost:5001/books/new">New Books</a></li>
        <li><a href="https://localhost:5001/">Home</a></li>
        <li><a href="https://localhost:5001/authors">Authors</a></li>
        <li><a href="https://localhost:5001/about">About</a></li>
    </ul>
</div>
