@{
    ViewData["Title"] = "Best Sellers Page";
}

<p>This is the best sellers page.</p>

<a href="https://localhost:5001/books">Books</a>

<a href="https://localhost:5001/">Home</a>
<a href="https://localhost:5001/authors">Authors</a>
<a href="https://localhost:5001/about">About</a>