@{
    ViewData["Title"] = "Books Page";
}

<p>This is the books page.</p>

<a href="https://localhost:5001/books/best-sellers">Best Sellers</a>

<a href="https://localhost:5001/">Home</a>
<a href="https://localhost:5001/authors">Authors</a>
<a href="https://localhost:5001/about">About</a>