@{
    ViewData["Title"] = "New Books Page";
}

<h1>New Books</h1>

<p>This is the new books page.</p>

<div class="navbar">
    <ul>
        <li><a href="https://localhost:5001/books/best-sellers">Best Sellers</a></li>
        <li><a href="https://localhost:5001/books">Books</a></li>
        <li><a href="https://localhost:5001/">Home</a></li>
        <li><a href="https://localhost:5001/authors">Authors</a></li>
        <li><a href="https://localhost:5001/about">About</a></li>
    </ul>
</div>
