@{
    ViewData["Title"] = "Home Page";
}

<p>This is the home page.</p>

<a href="https://localhost:5001/authors">Authors</a>
<a href="https://localhost:5001/books">Books</a>
<a href="https://localhost:5001/about">About</a>