@{
    ViewData["Title"] = "Authors Page";
}

<h1>Authors</h1>

<p>This is the authors page.</p>

<div class="navbar">
    
    <ul>
        <li><a href="https://localhost:5001/authors/featured">Featured</a></li>
        <li><a href="https://localhost:5001/">Home</a></li>
        <li><a href="https://localhost:5001/books">Books</a></li>
        <li><a href="https://localhost:5001/about">About</a></li>
    </ul>

</div>
