@{
    ViewData["Title"] = "History Page";
}

<h1>History</h1>

<p>This is the history page.</p>

<div class="navbar">
    
    <ul>
        <li><a href="https://localhost:5001/about">Home</a></li>
        <li><a href="https://localhost:5001/about/location">Home</a></li>
        <li><a href="https://localhost:5001/">Home</a></li>
        <li><a href="https://localhost:5001/authors">Authors</a></li>
        <li><a href="https://localhost:5001/books">Books</a></li>
    </ul>

</div>
