@{
    ViewData["Title"] = "About Page";
}

<p>This is the about page.</p>

<a href="https://localhost:5001/">Home</a>
<a href="https://localhost:5001/authors">Authors</a>
<a href="https://localhost:5001/books">Books</a>