@{
    ViewData["Title"] = "Location Page";
}

<h1>Location</h1>

<p>This is the location page.</p>

<div class="navbar">
    
    <ul>
        <li><a href="https://localhost:5001/about">Home</a></li>
        <li><a href="https://localhost:5001/about/history">Home</a></li>
        <li><a href="https://localhost:5001/">Home</a></li>
        <li><a href="https://localhost:5001/authors">Authors</a></li>
        <li><a href="https://localhost:5001/books">Books</a></li>
    </ul>

</div>
